VITE_API_BASE_URL=http://localhost:5068
VITE_USE_MOCK_API=false
VITE_USE_SUPABASE_AUTH=true
VITE_SUPABASE_URL=https://upwhuziueakirdkgblzd.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_M36-rehRM07tMqsv-5VNvg_B3AFQDfv
